services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    BinSoul\Symfony\Bundle\I18n\DataFixtures\:
        resource: '../../DataFixtures/*'
        tags: [doctrine.fixture.orm]

    BinSoul\Symfony\Bundle\I18n\Repository\:
        resource: '../../Repository/*'
        public: true

    BinSoul\Symfony\Bundle\I18n\Translation\DatabaseTranslator:
        autowire: false
        autoconfigure: false

    BinSoul\Symfony\Bundle\I18n\Twig\Extension\:
        resource: '../../Twig/Extension/*'
        tags: ['twig.extension']

    BinSoul\Symfony\Bundle\I18n\Service\Manager: ~
    BinSoul\Symfony\Bundle\I18n\I18nManager: '@BinSoul\Symfony\Bundle\I18n\Service\Manager'

    BinSoul\Symfony\Bundle\I18n\EventListener\TablePrefixListener:
        public: true

    BinSoul\Symfony\Bundle\I18n\EventListener\TwigGlobalsListener:
        tags: ['kernel.event_subscriber']

    BinSoul\Symfony\Bundle\I18n\Formatter\:
        resource: '../../Formatter/*'

    BinSoul\Symfony\Bundle\I18n\Validator\Constraints\:
        resource: '../../Validator/Constraints/*'
        exclude: '../../Validator/Constraints/{Abstract*,AddressValidationConfig.php,AddressValidationHelper.php}'
